{% load staticfiles %}

<div id='menu-button'>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu">
    menu
  </button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="menu">

  <div class="offcanvas-header">
    {% if request.user.is_authenticated %}
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" onclick="location.href='/users/{{request.user}}'">{{request.user}}</button>
      <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class='dropdown-item' href='/users/logout/'>log out</a></li>
      </ul>
    </div>
    {% else %}
    <a href='/users/login/'>log in</a>
    <a href='/users/register/'>register</a>
    {% endif %}
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <div class="btn-group-vertical mb-2">
      <a type="button" class="btn btn-primary" id='for-you-button' href='/blog/'>for you</a>
      <a type="button" class="btn btn-primary" id='dicsover-button' href='/blog/discover/'>discover</a>
    </div>

    <div class='mb-2' id='new-post-button'>
      <a type='button' class='btn btn-primary' href="/blog/new/">new post</a>
    </div>

    <div id='search-bar'>
      {% include 'components/blog/search_bar_form.html' %}
    </div>

    <div>
      <a href='../'>return to owenlewis.ca</a>
    </div>
  </div>
</div>

<script>
  requestPath = '{{ request.path }}'
</script>
