{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel='stylesheet' type='text/css' href='{% static "home.css" %}'>
{% endblock %}

{% block content %}

<nav>
  <ul>
   <li><a href='/'>Back</a></li>
   <li><a href='https://www.linkedin.com/in/owenlewis902' target='_blank'>LinkedIn</a></li>
   <li><a href='https://www.github.com/olewis8' target='_blank'>GitHub</a></li>
  </ul>
</nav>

<div class='container'>
  <h1>Projects</h1>
  <div class='card'>
    <div class='card-body'>
      <img src='{% static "test.png" %}' class="card-img-top" alt='oops the image FAILED to load'>
      <h2 class='card-title'>blog</h2>
      <p class='card-text'>
        A social media-esque blogging platform I built to teach myself the fundamentals of web-app developement. It uses a Django back-end and a vanilla JavaScript front-end with a custom-built REST API to interface between them.
      </p>
      <a href='/blog'>Live Demo</a>
      <a href=''>View on GitHub</a>
    </div>
  </div>
</div>

{% endblock %}
