{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel='stylesheet' type='text/css' href='{% static "home.css" %}'>
{% endblock %}

{% block content %}

<nav>
  <ul>
   <li><a href='/'>Back</a></li>
   <li><a href='https://www.linkedin.com/in/owenlewis902' target='_blank'>LinkedIn</a></li>
   <li><a href='https://www.github.com/olewis8' target='_blank'>GitHub</a></li>
  </ul>
</nav>

<div class='container'>
  <h1>Projects</h1>
  <div class='card'>
    <div class='card-body'>
      <img src='{% static "test.png" %}' class="card-img-top" alt='oops the image FAILED to load'>
      <h2 class='card-title'>blog</h3>
      <p class='card-text'>Phasellus et lacus vulputate, iaculis dui sed, sollicitudin est. Praesent lobortis lectus mollis purus mattis vehicula. Sed lobortis metus sit amet mi accumsan accumsan quis ut nisi. Sed mauris nunc, interdum vitae felis quis, eleifend ornare augue. Ut vehicula libero ultrices tortor finibus sollicitudin. Mauris malesuada dui quis euismod rhoncus. Sed ut semper sem. Sed eros tellus, hendrerit et condimentum eget, cursus sed tortor. Cras et mauris non magna fringilla rutrum id eu mi. Morbi nec dapibus mi. Cras hendrerit porta eros, in feugiat neque interdum at. Maecenas luctus commodo quam. Fusce aliquet, dolor sed congue efficitur, eros dui hendrerit nunc, in maximus purus lectus vel nisl. Nunc nibh purus, pharetra eu mattis aliquam, pulvinar ut risus. Mauris viverra lacus tortor, id suscipit purus tincidunt non. Sed a ipsum fermentum, pharetra metus nec, iaculis dolor. </p>
      <a href='/blog'>Live Demo</a>
      <a href=''>View on GitHub</a>
    </div>
  </div>
</div>

{% endblock %}
