{% extends 'base.html' %}

{% block content %}

<div class='container'>
  <div class='card'>
    <div class='card-body'>

      <h1 class='card-title'>log in</h1>

      <form method="POST" action=""> {% csrf_token %}
        <input type='text' class='form-control' name='username' placeholder='username'>
        <input type='password' class='form-control' name='password' placeholder='password'>
        <button type='submit' class='btn btn-outline-primary'>log in</button>
      </form>

      <p class='card-text'>don't have an account? <a href='/users/register/'>register here</a></p>
      <p class='card-text'>don't want an account? log in with username demo (no password)</p>

    </div>
  </div>
</div>

{% endblock %}
