{% extends 'base.html' %}

{% block content %}

<div class='container'>
  <div class='card'>
    <div class='card-body'>

      <h1 class='card-title'>log out</h1>
      <p class='card-text'> are you sure you want to log out?</p>

      <form method="POST" action='/users/logout/'> {% csrf_token %}
        <button type="submit" name='next' value='yes' class='btn btn-outline-primary'>yes</button>
        <button type="button" onclick='history.go(-1)' class='btn btn-outline-secondary'>no</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
