{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel='stylesheet' type='text/css' href='{% static "blog/blog.css" %}'>
{% endblock %}

{% block content %}

<div class='container'>
  <div class='card'>
    <div class='card-body'>

      <h1 class='card-title'>create account</h1>

      <form method="POST" action=""> {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class='btn btn-outline-primary'>next</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
