{% extends 'base.html' %}

{% block content %}

<div class='container'>
  <div id='title'>
    loading title...
  </div>

  <div id='posts'>
    loading posts...
  </div>

  {% if user.is_authenticated %}
  <div class='mb-4'>
    <button class='btn btn-primary' onclick='location.href="/blog/new"'>new post</button>
  {% endif %}
  </div>
</div>


<script>
  const loadPostPreviews = function(postElement, page){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/api/blog/' + page + '/get-posts'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
      var listedItems = xhr.response.response
      postHtmlStr = ''
      for(var i=listedItems.length-1; i>=0; i--){
        postHtmlStr += formatPost(listedItems[i])
      }
      titleElement = document.getElementById('title')

      titleElement.innerHTML = formatTitle(page)
      postElement.innerHTML = postHtmlStr
    }
   xhr.send()
  }

  const handleDidClickRead = function(post_id){
    location.href = String(post_id) + '/'
  }

  const handleDidClickDiscover = function(){
    loadPostPreviews(postElement, 'disc')
  }

  const handleDidClickForYou = function(){
    loadPostPreviews(postElement, 'fy')
  }

  const formatPost = function(post){
    template = "<div class='card mb-2' id='post-" + post.id +"'><div class='card-body'><h4 class='card-title'>" + post.title.toLowerCase() + "</h4><h6 class='card-title'>by " + post.author + "</h6><h6 class='card-title'><small class='text-muted'>" + post.created + "</small></h6><p>" + post.content.substring(0, 280).toLowerCase() + "...</p><div class='btn-group'><button type='button' class='btn btn-primary' onclick=handleDidClickRead("+ post.id +")>read</button></div></div></div>"

    return template
  }

  const formatTitle = function(page){
    if(page == 'disc'){
      return "<div class='row py-3'><h1>discover</h1><div class='btn-group'><button class='btn btn-primary' onclick='handleDidClickForYou()'>for you</button><button class='btn btn-primary active' aria-current='page' onclick='handleDidClickDiscover()'>discover</button></div></div>"
    }
    else if(page == 'fy'){
      return "<div class='row py-3'><h1>for you</h1><div class='btn-group'><button class='btn btn-primary active' aria-current='page' onclick='handleDidClickForYou()'>for you</button><button class='btn btn-primary' onclick='handleDidClickDiscover()'>discover</button></div></div>"
    }
  }

  const postElement = document.getElementById('posts')
  loadPostPreviews(postElement, 'fy')

</script>

{% endblock %}
