{% extends 'base.html' %}

{% block content %}

<!-- <div class='container py-3'>
    <h1>{{ title }}</h1>

    {% ifequal title 'for you' %}
      <div class='row py-3'>
        <div class="btn-group">
          <a href='' class="btn btn-primary active" aria-current="page">for you</a>
          <a href='discover/' class="btn btn-primary">discover</a>
        </div>
      </div>
    {% else %}
      {% ifequal title 'discover' %}
        <div class='row py-3'>
          <div class="btn-group">
            <a href='/blog' class="btn btn-primary">for you</a>
            <a href='' class="btn btn-primary active" aria-current="page">discover</a>
          </div>
        </div>
      {% endifequal %}
    {% endifequal %}

    <div class='row gy-3'>
      {% for object in object_list reversed %}
        {% include 'post_preview_card.html' with blog_post=object %}
      {% endfor %}
    </div>

    {% if user.is_authenticated %}
      <a href='new/' type="button" class="btn btn-outline-primary">new post</a>
    {% endif %}
</div> -->

<div class='container py-3'>
  <h1>{{ title }}</h1>
  {% ifequal title 'for you' %}
    <div class='row py-3'>
      <div class="btn-group">
        <a href='' class="btn btn-primary active" aria-current="page">for you</a>
        <a href='discover/' class="btn btn-primary">discover</a>
      </div>
    </div>
  {% else %}
    {% ifequal title 'discover' %}
      <div class='row py-3'>
        <div class="btn-group">
          <a href='/blog' class="btn btn-primary">for you</a>
          <a href='' class="btn btn-primary active" aria-current="page">discover</a>
        </div>
      </div>
    {% endifequal %}
  {% endifequal %}

  <div id='posts'>
    loading...
  </div>

  {% if user.is_authenticated %}
    <a href='new/' type="button" class="btn btn-primary">new post</a>
  {% endif %}

</div>

<script>
  const postsElement = document.getElementById('posts')

  const xhr = new XMLHttpRequest()
  const method = 'GET'
  const url = '/blog/discover-rest'
  const responseType = 'json'

  var readButton = function(post_id){
    action = "window.location='/blog/"+ post_id + "'"
    button = "<button class='btn btn-primary' onclick="+action+">read</button>"
    return button
  }

  var formatPost = function(post){
    template = "<div class='card mb-2' id='post-" + post.id +"'><div class='card-body'><h4 class='card-title'>" + post.title.toLowerCase() + "</h4><h6 class='card-title'>by " + post.author + "</h6><h6 class='card-title'><small class='text-muted'>" + post.created + "</small></h6><p>" + post.content.substring(0, 280).toLowerCase() + "...</p><div class='btn-group'>" + readButton(post.id) + "</div></div></div>"

    return template
  }

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function(){
    var listedItems = xhr.response.response
    postHtmlStr = ''
    for(var i=listedItems.length-1; i>=0; i--){
      postHtmlStr += formatPost(listedItems[i])
      console.log(listedItems[i])
    }
    postsElement.innerHTML = postHtmlStr
  }
 xhr.send()
</script>

{% endblock %}
