{% extends 'base.html' %}

{% block content %}

<div class='container py-3'>
  <div class='row gy-3'>
    <h1>{{ title }}</h1>
  </div>
</div>

<div class='container'>
  <div class='row gy-3'>
    {% for object in object_list reversed %}
      {% include 'pages/list-inline.html' with blog_post=object %}
    {% endfor %}
  </div>
</div>

<div class='container py-3'>
  {% if user.is_authenticated %}
    <a href='new/' type="button" class="btn btn-outline-primary">new post</a>
  {% endif %}
</div>

{% endblock %}
