{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class='nav-buttons'>
  {% include 'components/blog/off-canvas-menu.html' %}
  {% include 'components/blog/back-button.html' %}
</div>

<div class='container'>
  <div class='row'>
    <!-- blog post card -->
    <div class='container mb-2' id='blog-post'>
    </div>
  </div>

  <div class='row'>
    <div class='card mb-2'>
      <div class='card-body comment-section-body'>
        <h4 class='card-title'>comments</h4>
        {% if user.is_authenticated %}
          {% include 'components/comments/create_form.html' %}
        {% else %}
          <h5 class=comment-login-prompt><a href='/users/login'>log in</a> to post a comment. don't have an account? <a href='/users/register'>register here.</a></h5>
        {% endif %}
        <div id='comment-section' class='my-2'>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var requestPath = '{{ request.path }}'
  var requestUserIsAuthenticated = '{{ request.user.is_authenticated }}' == 'True' ? true : false
  var requestUser = '{{ request.user }}'
</script>
<script type='module' src='{% static "comments/load-blog-comments.js" %}'></script>
<script type='module' src='{% static "blog/load-blog-post-detail.js" %}'></script>

{% endblock %}
