{% extends 'base.html' %}

{% block content %}

<div class='container py-3'>
    <h1>{{ title }}</h1>

    <!-- for you / discover button -->
    {% ifequal title 'for you' %}
      <div class='row py-3'>
        <div class="btn-group">
          <a href='' class="btn btn-primary active" aria-current="page">for you</a>
          <a href='discover/' class="btn btn-primary">discover</a>
        </div>
      </div>
    {% else %}
      {% ifequal title 'discover' %}
        <div class='row py-3'>
          <div class="btn-group">
            <a href='/blog' class="btn btn-primary">for you</a>
            <a href='' class="btn btn-primary active" aria-current="page">discover</a>
          </div>
        </div>
      {% endifequal %}
    {% endifequal %}

    <!-- list the posts that were past to template -->
    <div class='row gy-3'>
      {% for object in object_list reversed %}
        {% include 'post_preview_card.html' with blog_post=object %}
      {% endfor %}
    </div>

    <!-- show new post button if the user is logged in -->
    {% if user.is_authenticated %}
      <a href='new/' type="button" class="btn btn-outline-primary">new post</a>
    {% endif %}
</div>

{% endblock %}
