{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel='stylesheet' type='text/css' href='{% static "blog/blog.css" %}'>
{% endblock %}

{% block content %}

<div class='nav-buttons'>
  {% include 'components/blog/off-canvas-menu.html' %}
  {% include 'components/blog/back-button.html' %}
</div>

<div class='container'>
  <div class='row'>
    <h1 class='page-title'>new post</h1>
  </div>
  <div class='row'>
    <div class='card post-edit-card'>
      <div class='card-body'>
        {% include 'components/blog/create_form.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
