{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel='stylesheet' type='text/css' href='{% static "blog/blog.css" %}'>
{% endblock %}

{% block content %}

<div class='nav-buttons'>
  {% include 'components/blog/off-canvas-menu.html' %}
  {% include 'components/blog/back-button.html' %}
</div>

<div class='container'>
  <div class='row'>
    <div class='card'>
      <div class='card-body'>

        <h1 class='card-title'>delete post</h1>
        <p class='card-text'>are you sure you want to delete the post "{{post.title}}"?</p>

        <form method='POST'> {% csrf_token %}
          <button class='btn btn-outline-danger' value='yes' name='next'>yes</button>
          <button class='btn btn-outline-secondary' value='no' name='next'>no</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
