<div class='card'>
  <div class='card-body'>
    <h4 class='card-title'>{{ blog_post.title }}</h4>
    <h6 class='card-title'>by {{ blog_post.author }}</h6>

    {% if not blog_post.edited %}
      <h6 class='card-title'><small class='text-muted'>{{ blog_post.created  }}</small></h6>
    {% else %}
      <h6 class='card-title'><small class='text-muted'>edited {{ blog_post.modified  }}</small></h6>
    {% endif %}



    <p class="card-text">{{ blog_post.content | truncatewords:30 | lower }}</p>
    <a href='{{ blog_post.get_absolute_url }}' type="button" class="btn btn-outline-success">read</a>
  </div>
</div>
