@font-face{
  font-family: playfair-display;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face{
  font-family: manrope-light;
  src: url(fonts/Manrope-Light.ttf);
}

@font-face{
  font-family: lora-italic;
  src: url(fonts/Lora-Italic.ttf);
}

@font-face {
  font-family: lora-regular;
  src: url(fonts/Lora-Regular.ttf);
}

a {
  color: #365587;
  text-decoration-thickness: 1px;
}

body {
  background-color: #F6F4EE;
}

.page-title{
  font-size: 60px;
}
