{% extends 'base.html' %}

{% block content %}


<!-- blog post card -->
<div class='container py-3'>
  <!-- this is to be eventually replaced by include list-inline.html -->
  <div class='card'>
    <div class='card-body'>
      {% if follower_page %}
        <h1>{{ user }}'s followers</h1>
      {% else %}
        <h1>{{ user }} is following</h1>
      {% endif %}

      {% for follow in follows %}
        {% include 'profile-card.html' with profile=follow %}
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
