{% extends 'base.html' %}

{% block content %}

<div class='container py-3'>
  <div class='row'>
    <div class='col-md-3 gy-3 gl-3'>
      <div id='bio-card'>
        loading bio card...
      </div>
    </div>

    <div class='col-md-9 gy-3'>
      <div id='user-posts'>
        loading user posts...
      </div>
    </div>
  </div>
</div>


<script>
  const loadPostPreviews = function(postElement, username){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/api/blog/' + username + '/get-user-posts'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
      var listedItems = xhr.response.response
      postHtmlStr = '<h1>'+username+'\'s posts</h1>'
      for(var i=listedItems.length-1; i>=0; i--){
        postHtmlStr += formatPost(listedItems[i])
      }
      postElement.innerHTML = postHtmlStr
    }
   xhr.send()
  }

  const loadBioCard = function(bioElement){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '{{request.path}}' + 'bio-data/'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
      var bioData = xhr.response

      bioCardHtml = formatBioCard(bioData)
      bioElement.innerHTML = bioCardHtml
    }
   xhr.send()
  }

  const handleDidClickRead = function(post_id){
    location.href = '/blog/' + String(post_id) + '/'
  }

  const handleDidClickFollow = function(){
    const xhr = new XMLHttpRequest()
    const method = 'POST'
    const url = 'follow/'

    xhr.open(method, url)
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhr.onload = function(){
      bioElement = document.getElementById('bio-card')
      loadBioCard(bioElement)
    }
    xhr.send()
   }

  const getUsername = function(){
    return '{{request.path}}'.slice(7, -1)
  }

  const formatPost = function(post){
    template = "<div class='card mb-2' id='post-" + post.id +"'><div class='card-body'><h4 class='card-title'>" + post.title.toLowerCase() + "</h4><h6 class='card-title'><small class='text-muted'>" + post.created + "</small></h6><p>" + post.content.substring(0, 280).toLowerCase() + "...</p><div class='btn-group'><button type='button' class='btn btn-primary' onclick=handleDidClickRead("+ post.id +")>read</button></div></div></div>"

    return template
  }

  const formatBioCard = function(bioData){
    template = "<div class='card'><div class='card-body'><h1 class='card-title'>"+ bioData.username +"</h1><h5 class='card-subtitle'>"+ bioData.location +"</h5><p class='card-text'>"+ bioData.bio +"</p><button type='button' class='btn btn-primary' onclick='handleDidClickFollow()'>follow</button><p class='card-text'>"+ bioData.followers_count +" <a href='followers/'>followers</a></p><p class='card-text'>"+ bioData.following_count +" <a href='following/'>following</a></p></div></div>"

    return template
  }

  var bioElement = document.getElementById('bio-card')
  loadBioCard(bioElement)

  var postElement = document.getElementById('user-posts')
  loadPostPreviews(postElement, getUsername())
</script>

{% endblock %}
