{% extends 'base.html' %}

{% block content %}

<div class='container py-3'>
  <div class='row'>
    <div class='col-md-3 gy-3 gl-3'>
        <div class='card'>
          <div class='card-body'>
            <h1 class='card-title'>{{ username }}'s bio</h1>
            <h5 class='card-subtitle'>{{ location }}</h5>
            <p class='card-text'>{{ bio }}</p>
            <a href='follow/' type="button" class="btn btn-outline-primary">follow</a>
            <p class='card-text'>{{ followers.count }} <a href='followers/'>followers</a></p>
            <p class='card-text'>{{ following.count }} <a href='following/'>following</a></p>
          </div>
        </div>
    </div>

    <div class='col-md-9 gy-3'>
        <div class='card'>
          <div class='card-body'>
            <h1 class='card-title'>{{ username }}'s blog posts</h1>
            {% for blog_post in blog_posts reversed %}
              <div class='card'>
                 {% include 'post_preview_card.html' with blog_post=blog_post %}
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
