{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'components/blog/off-canvas-menu.html' %}

<div class='container'>
  <div class='row'>

    <div class='col-md-3'>
      <div id='bio-card'></div>
    </div>

    <div class='col-md-9'>
      <div id='user-posts'></div>
    </div>

  </div>
</div>


<script>
  requestPath = '{{ request.path }}'
</script>
<script type='module' src='{% static "users/load-bio-card.js" %}'></script>
<script type='module' src='{% static "users/load-user-post-previews.js" %}'></script>

{% endblock %}
